:root {
  --main-black: #1a1a1a;
  --main-gray: #212121;
  --main-white: #f4f5f6;
  --main-blue: #42a5f5;
  --main-yellow: #ffca28;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-white);
}

header {
  background-color: var(--main-black);
  color: var(--main-white);
}

.hero {
  position: relative;
  background-color: var(--main-black);
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-black);
  opacity: 0.5;
  z-index: 1;
}

.headernavbar {
  background-color: var(--main-gray);
}

.headernavitem .nav-link {
  color: var(--main-white);
  padding: 9px;
}

.navbar-brand {
  color: var(--main-white);
  font-weight: bold;
}

.nav-link.active {
  color: var(--main-blue);
}

.nav-item a {
  text-decoration: none;
}

.nav-item:hover .nav-link {
  color: var(--main-white);
  padding: 8px;
  border-bottom: 1px solid var(--main-blue);
  border-top: 1px solid var(--main-blue);
}

.home-nav-item:hover .nav-link {
  color: var(--main-black);
  border-bottom: none;
  border-top: none;
  font-size: 3em;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.display-4 {
  font-size: 2.5rem;
  color: var(--main-black);
  transition-property: font-size, text-shadow;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.project-img-full {
}

.contact-dm-form textarea {
  text-align: center;
}

.contact-dm-form input {
  text-align: center;
}

.contact-card {
  text-align: center;
}

.contact-socials-list li {
  list-style-type: none;
}

.copyright-footer {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  background-color: var(--main-black);
  color: var(--main-white);
}
